* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box {
    height: 50px;
}

.header {
    padding: 20px 0;
    height: 80px;

    position: sticky;
    top: 0;

    background-color: cadetblue;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.image {
    position: absolute;
    width: 100%;
}

.logo {
    top: 40px;
    position: relative;
    width: 100px;
    transition: top 0.3s, width 0.3s;
}
.main{
    height: 1000px;
}

.anim {
    top: 0;
    max-width: 48px;
}
.section {
    height: 300px;
    background-color: black;
}

.section-2 {
    height: 300px;
    background-color: white;
}

.section-3 {
    height: 300px;
    background-color: black;
    transform: rotate(180deg) translateX(calc(-50% + 20px));
}

.white {
    background-color: white;
}

.white .nav__link {
    color: #4C4C4C;
}

.video{
    width: 100px;
    height: 100px;
}

.form__error {
    position: absolute;
    left: 5px;
    bottom: -15px;
}

@media (max-width: 992px) {

}
